.Main {
    text-align: center;
  }
  
  body {
    background-image: url('https://images.pexels.com/photos/247929/pexels-photo-247929.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Crafty Girls', cursive;
    font-weight: bolder;
    overflow: hidden;
  }


  .form-control .search-box {
    width: 25px;
    /* padding: 320px 10px !important; */
  }
  Button {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  Button:hover {
    color: #071a58;
  }
  .mt-5 {
    padding-top: 200px;
  }
  .map {
    position: absolute;
    width: 75%;
    height: 75%;
    top: 0;
  }
  .InputGroup .search-box {
    padding-left: 25px;
  }