.Main {
    text-align: center;
  }
  
  body {
    background-image: url('https://images.pexels.com/photos/247929/pexels-photo-247929.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Crafty Girls', cursive;
  }


  .search-box {
    width: 25px;
  padding: 320px 10px;
  }
  Button {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  Button:hover {
    color: #071a58;
  }
